body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lato;
    background-color: #270F36;
    min-width: 300px;
    min-height: 170px;


}



#buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border-width: 5px;
    font-size: 16px;
    font-weight: 800;
    border-color: #632B6C;
    color: #270F36;
    background-color: #C76B98
}

h1 {
    margin: -15px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 80px;
    letter-spacing: 5px;
    font-weight: 800;
    color: #fcc3a3;


}



h3 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    line-height: 0px;
    padding-top: 20px;
    color: #C76B98;
}

br {
    line-height: 0px
}